:root {
    --text-primary: black;
    --text-secondary: white;
    --text-accent: rgb(247, 180, 180);
    --bg-primary: white;
    --bg-secondary: rgb(214, 214, 214);
    --bg-accent: rgb(247, 180, 180);
    --bg-accent2: rgb(253, 136, 136);
    --bg-green: green;
}

body {
    background: var(--bg-primary);
    color: var(--text-primary);
}

nav {
    background: var(--bg-secondary);
    display: flex;
    padding: 1.2rem 10%;
    justify-content: space-between;
    align-items: start;
    height: 6rem;
}

nav div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav input {
    background: unset;
    border-bottom: 1px solid;
    border-radius: 0;
}

nav label {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 3rem;
    padding: .6rem;
    border-radius: 50%;
}

nav label .icon {
    margin-right: -1rem;
    background: unset;
    font-size: unset;
    padding: unset;
    border-radius: unset;
}

nav .icon {
    background: var(--bg-accent);
    cursor: pointer;

}
nav a{
    display: block;
}


#toggle {
    font-size: 2rem;
    display: none;
}

#nav-items {
    display: flex;
}


/* HERO SECTION */
.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    min-height: 40vh;
}

.hero-call-to-action {
    display: flex;
    gap: 1rem;
    /* margin: 1rem 0; */

}

.hero-call-to-action .btn {
    background: var(--bg-accent2);
    padding: .3rem .6rem;
    margin: unset;
}

.hero-section .card {
    display: flex;
    gap: 1rem;
    border: 1px solid;
    margin-top: 1rem;
    border-radius: 1rem;
}

.hero-section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-section-two {

    /* height: 100%; */
    display: flex;
    align-items: center;
    /* b0 */
}

.hero-section-two>div {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.hero-img-main {
    grid-row: span 2;
}

/* fielter section */
.filter-section {
    width: 100%;
    padding: .6rem;
    overflow-x: hidden;
}

/* products */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

}

.product {
    padding: .6rem;
    box-shadow: 0px 2px 4px 0px black;

}

.product button {
    color: var(--text-primary);
    width: 100%;
    background: var(--bg-green);
    border-radius: .3rem;


}

/* add product */
.add-product {
    display: flex;
    flex-direction: column;
}

.add-product input,
textarea,
select {
    display: block;
    width: 100%;
    background: unset;
    box-shadow: 0px 0px 6px -1px black;
    margin: .6rem 0;
}

select {
    overflow: hidden;
}

.add-product label {
    display: block;
}

.add-product form {
    padding: 1rem;
    font-weight: bold;
    box-shadow: 0px 0px 6px -1px black;
    margin: 2rem 0;

}

.add-product button {
    color: var(--text-primary);
    background: var(--bg-green);
    margin: 1rem 0;
    border-radius: .3rem;
}

.add-product textarea {
    height: 6rem;
    border-radius: .6rem;
    padding: .6rem 1rem;
}

/* product page */
.product-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* background: grey; */
}

.product_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.product-view button {
    background: var(--bg-green);
}

.product_image {
    padding: 2rem;
}

.product_image img {
    object-fit: cover;
    object-position: center;
}

/* cart */
.cart {
    position: relative;
}
.cart-section{
    height: 70vh;
}
.cart-footer > *{
    text-align: center;
}

.cart-footer .cart-total{
    color: var(--text-accent) ;
}
.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    color: white;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-green);
    background-blend-mode: darken;
    box-shadow: 0 0 1px 1px green;

}

/* cart page */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    padding: 1rem;
}

table img {
    width: 7rem;

}

table td,
table th {
    margin: auto;
}

table tr {
    border-bottom: 1px solid;
}
thead{
    background: var(--bg-secondary);
}
thead th{
    padding: 1rem;
}
tbody td{
    padding: .6rem;
}
tbody tr:nth-child(even){
    background: var(--bg-secondary);
}

table th:nth-child(3), table td:nth-child(3){
    width: 40%;
}
.cartRemove > *{
   background: var(--bg-accent);
   padding: .6rem 1.2rem;
   cursor: pointer;
}

/* reset password page */
#new-password-section{
    display: none;
}

@media screen and (max-width:800px) {
    nav {
        padding: 1rem 3%;
        height: auto;
      
    }
    .nav-side{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    #nav-items {
        display: none;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background: inherit;
        order: 1;
        border: 1px solid grey;
        padding: .6rem;
    }
    #nav-items > *{
        width: 100%;
        padding: .6rem;
        box-shadow: 0 1px 1px -1px ;
    }

    #toggle {
        display: block;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-view {
        grid-template-columns: 1fr;
    }

}