<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
</head>
<body>
    <p>Hello,</p>
    <p>Your requested PIN for password reset is: <%= pin %></p>
    <p>Please use this PIN to reset your password. This PIN is valid for a limited time.</p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Best regards,<br>Shoefy/p>
</body>
</html>